div.wraper
{
  width:1000px;
  background:#fff;
  margin:0px auto;
  box-shadow: 0 0 10px #CCCCCC;
}


div.header
{
  background:#fff;
  width:980px;
  margin:0px auto;
}

div#container
{
  background:#fff;
  width:980px;
  margin:10px auto;
}

div.left
{
  float:left;
  width:200px;
}

div.right
{
  float:right;
  width:200px;
}

div.content
{
   width: 580px;
   float:left;
}
div.footer
{
	background: #f0f0f0;
    border-radius: 0 0 3px 3px;
    border-top: 4px solid #4C66A4;
    height: auto;
    margin: 10px 0px;
    padding-bottom: 30px;
    padding-top: 5px;
	padding:10px 15px;
	
}

div.footer #footer_text
{
	width:600px;
	float:left;
}
div.message
{
	padding:20px;
	background:#fcf7d9;
	border: 1px solid #f5dc7d;
    color: #444;
}

div.footer #footer_face
{
	width:300px;
	float:right;
	text-align:right;
}

#logo {
    float: left;
    height: 50px;
    margin-top: 4px;
    width: 230px;
}
div.top
{
	min-height:90px;
}

.box-left ,.box-right {
    float: left;
    height: auto;
    width: 190px;
    margin-bottom:10px;
}
.box-right
{
	float:right;
}
.box-right img
{
	max-width:190px;
}
.box-right .support
{
	padding:10px;
}
.box-right .support strong
{
	color:maroon;
	font-size:14px;
	margin-bottom:5px;
	display:block;
}
.box-content-center
{
	padding:10px;
}
#left-container .box-left {
    margin-left: 0;
}
.tittle-box-left,.tittle-box-right {
    background: url("../images/menu.png") repeat-x;
    border-bottom: 2px solid #FF9900;
    border-radius: 3px;
    float: left;
    line-height: 28px;
    width: 190px;
}
.tittle-box-left h2,.tittle-box-right h2 {
    background: url("../images/icon.png") no-repeat left center;
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    margin-left: 5px;
    padding-left: 18px;
    margin: 5px;
}
.content-box {
    color: #000000;
    float: left;
    height: auto;
    margin-top: 2px;
    width: 188px;
    border:1px dashed #ccc;
}

.content-box p {
    line-height: 18px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-top: 5px;
}
.content-box p span {
    color: #FF6600;
    font-weight: bold;
}
.box-center {
    float: left;
    height: auto;
    margin-bottom: 15px;
    width: 580px;
}
.tittle-box-center {
    background: url("../images/menu.png") repeat-x;
    border-bottom: 2px solid #FF9900;
    border-radius: 3px;
    float: left;
    height: 28px;
    line-height: 30px;
    width: 580px;
   
}
.tittle-box-center h2 {
    background: url("../images/icon.png") no-repeat;
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    margin-left: 5px;
    padding-left: 18px;
    margin: 8px;
}
.box-content-center {
    float: left;
    height: auto;
    margin-top: 2px;
    width: 580px;
    margin-bottom: 25px;
}


/**
 * Main loader
 */
#loadding
{
	display:none;
}
#overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: url('../images/overlay.png');
	z-index: 100000;
}

#preloader {
	background: url('../images/preloader.gif') no-repeat 12px 10px #000000;
	color:white;
	font-size: 11px;
	height: 20px !important;
	left: 50%;
	line-height: 20px !important;
	margin: -20px 0 0 -45px;
	padding: 10px;
	position: fixed;
	text-align: left;
	text-indent: 36px;
	top: 50%;
	width: 150px !important;
	z-index: 100001;
	
	opacity:0.8;
	
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
}

.tab_load #loader {
	width: 100%;
	height: 100%;
	min-width: 16px;
	min-height: 11px;
	background: url('../images/loader.gif') no-repeat center;
}
/**
 * End Main loader
 */

ul.news li {
    border-bottom: 1px dotted #999;
    color: #34517d;
    padding-bottom: 5px;
    padding-top: 5px;
	line-height: 20px;
	padding-left:10px;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
}
ul.news li a img
{
	margin-right:5px;
}

/*
 * Cart
 */
.tblCart {
    border-collapse: collapse;
    border-left: 1px solid #abd5e3;
    border-top: 1px solid #abd5e3;
    font-size:12px;
}
.tblCart tr td {
    border-bottom: 1px solid #abd5e3;
    border-right: 1px solid #abd5e3;
    padding: 5px 3px;
}
.tblCart tr.title1 td {
    font-size: 15px;
    font-weight: bold;
    height: 31px;
    padding-left: 10px;
    vertical-align: middle;
}
.tblCart tr.title2 td {
    background: none repeat scroll 0 0 #00a0dc;
    color: #ffffff;
    font-size: 13px;
    font-weight: bold;
    padding: 7px;
    text-align: center;
    white-space: nowrap;
}
.tblCart del {
    color: #999999;
}
.tblCart tr td.price {
    color: #990000;
    font-size: 14px;
    font-weight: bold;
}
.price_format {
    color: #cc0000;
    font-size: 18px;
    font-weight: bold;
}

#face {
    float: right;
    width: 200px;
}
#info_product p.option {
    border-bottom: 1px dashed #dbdbdb;
    padding: 4px 0;
}
#cart_expand {
    margin-right: 10px;
    margin-top: 20px;
    position: relative;
    width: 190px;
}
.cart {
    height: 30px;
}
.cart_link {
    color: #777777;
    font-family: tahoma;
    font-size: 12px;
    font-weight: normal;
    left: 15px;
    padding: 5px;
    position: relative;
    text-transform: uppercase;
}
.cart_link span {
    color: #ff0000;
    font-weight: bold;
}
.cart img {
    padding-left: 5px;
    position: relative;
    top: 5px;
}

/*news*/
.list_news .item_news {
    border-bottom: 1px solid #ededed;
    clear: both;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.list_news .item_news:last-child {
    border-bottom: 0 none;
    margin-bottom: 0;
    padding-bottom: 0;
}
.list_news .item_news .item_left {
    display: inline;
    float: left;
    margin-right: 10px;
}
.list_news .item_news .item_left .item_img {
    border: 1px solid #dedede;
    height: 90px;
    padding: 3px;
    width: 140px;
}
.list_news .item_news .item_name {
}
.list_news .item_news .item_time {
    color: #888;
    margin: 5px 0;
}
.list_news .item_news .item_content {
}